      <div class = "game-contents">
       <% if game.liked_by?(current_user) %>
        <p><%= link_to user_game_likes_path(game_id: game.id), method: :delete do %>
           ♥<%= game.likes.count %> いいね
           <% end %></p>
        <% else %>
        <p><%= link_to user_game_likes_path(game_id: game.id), method: :post do %>
          ♡<%= game.likes.count %> いいね
           <% end %></p>
       <% end %>
      </div>