     <div class = "game-contents">
      <% if user_signed_in? %>
       <% if game.liked_by?(current_user) %>
        <h4><%= link_to user_game_likes_path(game), method: :delete, remote: true do %>
           ♥<%= game.likes.count %>
           <% end %></h4>
          <% else %>
        <h4><%= link_to user_game_likes_path(game), method: :post, remote: true do %>
            ♡<%= game.likes.count %>
           <% end %></h4>
          <% end %>
      </div>
      <% end %>