<div class = "container">
 <div class = "row">
  <h1>ゲームアプリ一覧</h1>
 </div>
 <div class ="row">
   <% @games.each do |game| %>
   <div class = 'col-6'>
    <div class="d-flex">
      <div class="game-image">
        <%= attachment_image_tag game,:image, class: 'img-fluid' %>
      </div>
    </div>
      <div class="game-title">
         <%= link_to game.title, user_game_path(game.id) %>
      </div>      
     <div class="game-introduction">
       <%= game.introduction %>
     </div>
   </div>
   <% end %>
    <%= paginate @games %>
 </div>
</div>