<h1>アプリゲーム一覧</h1>
<table class = "table table-border">
  <tr>
   <% @games.each do |game| %>
    <th><%= attachment_image_tag game,:image %></th>
    <th><%= game.title %></th>
    <th><%= link_to "詳細を見る", admin_games_path(game.id), class: 'btn btn-success' %></th>
  </tr>
  <% end %>
  <%= paginate @games %>
</table>
