<div class="container">
  <div class="row">
    <div class="about-title text-center">
      <h1>Game-Watchingとは？</h1>
    </div>
    <div class="about-form mb-3">
      <h4>
        みなさんが楽しめるアプリを提供すべく、人気アプリ、一押しアプリを紹介！<br>
        ここから登録するとさまざまな特典が配布されて、より楽しくゲームがプレイできる！<br>
        会員限定で「チャット機能」利用可能！<br>
        ゲームを楽しく盛り上げるためのコンテンツをたくさん用意しています。<br>
        ただゲームをするだけでなく、いんなでやるから面白い！<br>
        そう思って頂けると幸いです。<br>
        気になるゲームやコミュニティーがあったら「会員登録」するだけで利用可能！<br>
        ゲームのことならGame-Watchingで！！<br>
      </h4>
    </div>
    </div>
  </div>
</div>
